/* stylesheet */


* {
  font-family: 'Consolas', sans-serif;
  color: #3C2F2F;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Aurora';
  src: url(../assets/fonts/AURORA-Regular.ttf);
}

.btn-primary {
  color: #3C2F2F !important;
  background: #FFF2E1 !important;
  border-radius: 10em !important;
  border: 2px solid #3C2F2F !important;
  padding: .5em 4em !important;
  box-shadow: 0 0 0 0 #3C2F2F !important;
  font-family: 'Caraque Trial', sans-serif !important;
  transition: all 0.3s ease-in-out; 
}

.btn-primary:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #3C2F2F !important;
};

.btn-primary:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #3C2F2F !important;
}

.sub-header {
  font-family: 'Caraque Trial', sans-serif;
  font-size: x-large;
  color: #854442 !important;
}

.header {
  font-family: 'Aurora', sans-serif;
}

body {
  background: #FFF2E1 !important;
}

/* NAVBAR */
.navbar {
  background: #FFF2E1;
}

.navbar-nav{
  gap: 3vmax; 
}

div.collapse.navbar-collapse {
  margin-right: 1vmax;
}

.logo {
  width: 10vmax;
  margin: 1vmax 2vmax 1vmax 1vmax;
}


/* NAVBAR END */

/* MARQUEE */

.wrapper {
  padding: 20px 0 30px 0;
}

.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  gap: 4.8rem;
  animation: marquee-move-text 40s linear infinite;
  width: max-content;
  padding-left: 4.8rem;
}

.marquee-text-track p{
  text-transform: uppercase;
  font-family: 'Caraque Trial';
  color: #FFF2E1;
  font-size: 30px;
}

.marquee-image-track img{
  display: block;
  width: auto;
  height: 150px;
}

.marquee-image-track {
  display: flex;
  gap: 4.8rem;
  animation: marquee-move-text 10s linear infinite;
  width: max-content;
  padding-left: 4.8rem;
}

.wavy {
  background: #239E86;

  --mask:
    radial-gradient(37.17px at 50% calc(100% - 52.5px),#000 99%,#0000 101%) calc(50% - 50px) 0/100px 100%,
    radial-gradient(37.17px at 50% calc(100% + 27.5px),#0000 99%,#000 101%) 50% calc(100% - 25px)/100px 100% repeat-x;
   -webkit-mask: var(--mask);
           mask: var(--mask);
}

.img-background {
  background-color: #FCB1B1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f1fec5'/%3E%3Cstop offset='1' stop-color='%23f1fec5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fed8c9'/%3E%3Cstop offset='1' stop-color='%23fed8c9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23eeffdd'/%3E%3Cstop offset='1' stop-color='%23eeffdd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FCB1B1'/%3E%3Cstop offset='1' stop-color='%23FCB1B1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D9FFEA'/%3E%3Cstop offset='1' stop-color='%23D9FFEA' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF2E1'/%3E%3Cstop offset='1' stop-color='%23FFF2E1' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
  
}

/* MARQUEE END */


/* HEADLINE */

.headline-container {
  background: #FFF2E1;
  display: flex;
  justify-content: center;
  align-items: center;

    --s: 160px; /* control the size*/
    --c1: #ffffff;
    --c2: ;
    
    --_g: var(--s) var(--s) 
      radial-gradient(var(--c1) 17%,var(--c2) 18% 35%,#0000 36.5%);
    background: 
      calc(var(--s)/-4) calc(var(--s)/-4)/var(--_g),
      calc(var(--s)/ 4) calc(var(--s)/ 4)/var(--_g),
      radial-gradient(var(--c2) 34%,var(--c1) 36% 68%,#0000 70%) 
       0 0/calc(var(--s)/2) calc(var(--s)/2),
      repeating-linear-gradient(45deg,var(--c1) -12.5% 12.5%,var(--c2) 0 37.5%)
       0 0/var(--s) var(--s);
}

.headline-container img {
  display: block;
  width: 30%;
  transition: transform .7s ease-in-out;
}

.headline-container img:hover {
  transform: rotate(-35deg) scale(1.1);
}

/* HEADLINE END */


/* MENU */

section.menu {
  background: #239E86;
  --mask:
    radial-gradient(37.17px at 50% 52.5px,#000 99%,#0000 101%) calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(37.17px at 50% -27.5px,#0000 99%,#000 101%) 50% 25px/100px calc(51% - 25px) repeat-x,
    radial-gradient(37.17px at 50% calc(100% - 52.5px),#000 99%,#0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(37.17px at 50% calc(100% + 27.5px),#0000 99%,#000 101%) 50% calc(100% - 25px)/100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

div.menu {
  padding: 100px 0;
}

.menu {

  .row {

    .card {
      border: #3C2F2F solid 2px;
      border-radius: 2em;
    }

    img.card-img-top{
      width: 50%;
      height: auto;
      margin-top: 50px;
    }
  
    p.card-text {
      text-align: justify;
    }

    span.price {
      text-transform: uppercase;
      font-weight: bold;
      color: #854442;
    }

    .btn-primary {
      padding: 2% 25% !important;
      background: #854442 !important;
      color: #FFF2E1 !important;

    }

    button {
      display: block !important;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 5%;
    }

    .btn-group {
      border: #7b7b7b solid thin;

      .btn {  
        color: #3C2F2F;
      }

      .plus, .minus {
        color: #7b7b7b !important;
      }

      .btn.btn-arith:hover {
        background: #dadada;
      }

      .quant:hover {
        cursor: text;
      }

    }



  }
}

/* MENU END */