/* stylesheet */


* {
  font-family: 'Consolas', sans-serif;
  color: #3C2F2F;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Aurora';
  src: url(../assets/fonts/AURORA-Regular.ttf);
}

.btn-primary {
  color: #3C2F2F !important;
  background: #FFF2E1 !important;
  border-radius: 10em !important;
  border: 2px solid #3C2F2F !important;
  padding: .5em 4em !important;
  box-shadow: 0 0 0 0 #3C2F2F !important;
  font-family: 'Caraque Trial', sans-serif !important;
  transition: all 0.1s ease-in-out; 
}

.btn-primary:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #3C2F2F !important;
}

.btn-primary:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #3C2F2F !important;
}

.sub-header {
  font-family: 'Caraque Trial', sans-serif;
  color: #854442 !important;
}

.heading {
  font-family: 'Aurora', sans-serif;
}

.reddish-text {
  color:#854442 !important;
}

body {
  background: #FFF2E1 !important;
}

.border-container {
  background: white;
  border: #3C2F2F solid 2px;
  border-radius: 2em;
  box-shadow: 8px 8px 0px #3C2F2F ;
  padding: 30px;
}

.disclaimer {
  font-size: small;
  color: #7b7b7b;
}

a.regular-link {
  color: #854442;
}

a.regular-link:hover {
  color: #239E86;
}

/* NAVBAR */
.navbar {
  background: #FFF2E1;
}

.active {
  color: #239E86 !important;
}

.navbar-nav{
  gap: 3vmax; 
}

.nav-link:hover {
  color:#239E86 !important; 
}

div.collapse.navbar-collapse {
  margin-right: 1vmax;
}

.logo {
  width: 10vmax;
  margin: 1vmax 4vmax 1vmax 1vmax;
}

span.nav-link {
  display: none;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width:991.5px) {
  
  .nav-item.btn-group {
    flex-direction: column;

    .btn.dropdown-toggle {
      text-align: left;
    }
  }

  ul.dropdown-menu {
    display: block;
    background: none;
    border: none;

    a {
      color: inherit;
      margin-left: 5px;
    }

    a:hover {
      background-color: none !important;
    }

  }

  span.nav-link {
    margin-left: 5px;
    display: inline;
  }

}

/* NAVBAR END */

/* MARQUEE */

.wrapper {
  padding: 20px 0 30px 0;
}

.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  gap: 4.8rem;
  animation: marquee-move-text 30s linear infinite;
  width: max-content;
  padding-left: 4.8rem;
}

.marquee-text-track p{
  text-transform: uppercase;
  font-family: 'Caraque Trial';
  color: #FFF2E1;
  font-size: 30px;
}

.marquee-image-track img{
  display: block;
  width: auto;
  height: 150px;
}

.marquee-image-track:hover, .marquee-text-track:hover{
  animation-play-state: paused;
}


.marquee-image-track {
  display: flex;
  gap: 4.8rem;
  animation: marquee-move-text 20s linear infinite;
  width: max-content;
  padding-left: 4.8rem;
}


.wavy {
  background: #239E86;

  --mask:
    radial-gradient(37.17px at 50% calc(100% - 52.5px),#000 99%,#0000 101%) calc(50% - 50px) 0/100px 100%,
    radial-gradient(37.17px at 50% calc(100% + 27.5px),#0000 99%,#000 101%) 50% calc(100% - 25px)/100px 100% repeat-x;
   -webkit-mask: var(--mask);
           mask: var(--mask);
}

.img-background {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69' height='69' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23FFFFFF' x='-60' y='-60' width='103' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
  
}


/* MARQUEE END */


/* HEADLINE */

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 70px;
  }
}

.headline-container img {
  display: block;
  width: 30%;
  transition: transform .7s ease-in-out;
}

.headline-container img:hover {
  transform: rotate(-35deg) scale(1.1);
}

/* HEADLINE END */


/* MENU */

section.menu {
  background: #239E86;
  --mask:
    radial-gradient(37.17px at 50% 52.5px,#000 99%,#0000 101%) calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(37.17px at 50% -27.5px,#0000 99%,#000 101%) 50% 25px/100px calc(51% - 25px) repeat-x,
    radial-gradient(37.17px at 50% calc(100% - 52.5px),#000 99%,#0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(37.17px at 50% calc(100% + 27.5px),#0000 99%,#000 101%) 50% calc(100% - 25px)/100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

div.menu {
  padding: 200px 0;
}

.menu {

  /* hr {
    max-width: 100px;
    margin: 0 auto;
    border: #FFF2E1 solid 2px;
  } */

  h3 {
    text-align: center;
    font-size: 5vmax;
    color: white;
  }

  .row {

    gap: 2rem;

    .card {
      border: #3C2F2F solid 2px;
      border-radius: 2em;
      max-width: 82%;
      transition: all 0.1s ease-in-out;
    }

    .card:hover{
      transform: translateY(-4px) translateX(-2px);
      box-shadow: 8px 8px #3C2F2F;
      
    }

    img.card-img-top{
      width: 50%;
      height: auto;
      margin-top: 50px;
    }
  
    p.card-text {
      text-align: justify;
    }

    span.price {
      text-transform: uppercase;
      font-weight: bold;
      color: #854442;
    }

    .btn-primary {
      padding: 2% 10% !important;
      background: #854442 !important;
      color: #FFF2E1 !important;
    }

    button {
      display: block !important;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 5%;
    }

    .btn-group {
      border: #7b7b7b solid thin;

      .btn {  
        color: #3C2F2F;
      }

      .plus, .minus {
        color: #7b7b7b !important;
      }

      .btn.btn-arith:hover {
        background: #dadada;
      }

      .quant:hover {
        cursor: text;
      }

    }



  }
}

/* ABOUT US */

div.about-us.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 82%;
  margin: 0 auto 10% auto;
  border-radius: 2em !important;
  border: #3C2F2F solid 2px;
  box-shadow: none;
  gap: 2%;
  transition: all 0.1s ease-in-out;

  img.border-container {
    padding: 0;
    object-fit: cover;
    max-width: 40%;
    box-shadow: none;
    border-radius: 1em;
  }
  

  div.collapsable {

    /* border: red solid thin; */
    margin: 20px 20px 20px 0px;

    h3 {
      text-align: center;
    }

    p {
      text-align: justify;
    }

    section {
      display: flex;
      border-bottom: #acacac solid 2px;
      margin-top: 20px; 
      justify-content: space-between;
    }

    a {
      text-decoration: none;

    }

    div.card {
      border: none !important;
    }

    section.collapsable {
      /* border: red solid thin; */
      margin-bottom: 0;
    }

    div.see-our-menu {
      border-top: #acacac solid 2px;
      border-bottom: #acacac solid 2px;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }

    a.see-our-menu {
      /* border: red solid thin; */
      text-align: center;
      font-size: larger;
      color: #239E86;
      font-weight: 500;
      transition: all 0.1s ease-in-out;
    }

    a.see-our-menu:hover {
      text-decoration: underline;
      margin-right: 5px;
    }
    
  } 

  .location {
    font-weight: bolder;
  }

}

div.about-us.landing-page:hover{
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 8px 8px #3C2F2F;
}

.arrow { /* rotating dropdown arrow :3 */
  transition: 0.5s;
}

  .arrow:not(.collapsed) {
    transform: rotate(180deg);
  }

  .arrow:is(.collapsed) {
    transform: rotate(0deg);
  }

/* ABOUT US END*/

/* MENU END */

/* FOOTER */

footer {

  object {
    margin-top: 50px;
    margin-left: 7%;
    max-width: 250px;
  }

  li {
    list-style-type: none;
  }

  div.footer-content {

    display: flex;
    gap:20%;
    

    h4 {
      font-weight: bolder;
    }

    a {
      font-size: medium;
      text-decoration: none;
    }
    
    h4, a {
      color:#854442;
    }

    a:hover{
      text-decoration: underline;
      transition: text-decoration 0.3s ease-in-out;
    }

    ul {
      margin: 40px 5%;
    }
  }

  .bottom {
    
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-around;
    background: #239E86;
    
    p {
      color: white;
      font-size: larger;
    }

    a span{
      color: white;
      margin-right: 5px;
    }

  }
}
/* FOOTER END */

@media screen and (max-width: 1200px) {
  .headline-container {
    
    img {
      display: none;
    }

    .headline {

      h1 {
        font-size: 50px;
        text-align: center;
        margin: 10% 5% 0 5%;
      }

      p {
        font-size: medium;
        margin: 5% 10%;
        text-align: justify;
      }

      a {
        display: block;
        max-width: 50%;
        margin: 0 auto;
      }

      h1, p{
        transition: all 0.3s ease-in-out;
      }
    }

  }
}

@media screen and (max-width: 800px) { /* for phones and below*/

  div.about-us.landing-page {
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    img.border-container {
      max-width: 100%;
      margin-bottom: 5%;
      transition: all 0.3s ease-in-out;
    }

    div.collapsable {
      margin: 0 2% 5% 2%;
      /* border: red solid thin; */
      transition: all 0.3s ease-in-out;

      p {
        span {
          display: none;
          transition: all 0.3s ease-in-out;
        }
      }

    }

    
  }
  
  footer div.footer-content {
    ul {
      margin: 50px 0;
      transition: all 0.3s ease-in-out;
    }
  }

  footer .bottom {

    transition: all 0.3s ease-in-out;

    p {
      font-size: smaller;
      transition: all 0.3s ease-in-out;
    }

    a span {
      font-size: small;
      transition: all 0.3s ease-in-out;
    }
  }

}

/* FOR ALL PAGES */
.page {

  h1.heading.wavy {
    text-align: center;
    color:#FFF2E1;
    font-size: 3vmax;
    padding: 50px 0 80px 0;
  }

  .border-container{
    margin: 50px auto;
    max-width: 50%;
  }

  @media screen and (max-width: 1200px) {
    
    h1.heading {
      font-size: 50px !important;
    }

    .border-container, div.contact-info {
      max-width: 80%;
      transition: all 0.3s ease-in-out;
    }

    div.contact-info {
      /* border: red solid thin; */
      max-width: 100% !important;
      flex-direction: column;

      ul {
        padding-top: 0;
      }
    }
    
  }

  @media screen and (max-width: 800px) {
    .border-container, div.contact-info {
      max-width: 90%;
      transition: all 0.3s ease-in-out;
    }
  }

}

/* !!!! FAQs PAGE !!!! */

div.FAQs {


  p {
    text-align: justify;
  }


  div.border-container {
    
    h3 {
      text-align: center;
      margin: 30px 0;
    }
    
    div.contact-info {
      display: flex;
      justify-content: space-between;
      max-width: 70%;
      margin: 0 auto 30px auto;
      /* border: red solid thin; */      
    }

    ul {
      padding: 0;
    }

    li {
      /* border: red solid thin; */
      list-style-type: none;

      a {
        text-decoration: none;
        color: #3C2F2F;
      }

      span.social-media {
        font-family: 'Consolas', sans-serif;
        margin-left: 8px;
      }

      a:hover {
        text-decoration: underline;
      }

    }
  }
  
}

/* !!!! LOCATIONS PAGE !!!! */

.locations.page {

  .border-container {
    max-width: 80%;
  }

  div.border-container {
    display: flex;
    flex-direction: row;
    gap: 2%;

    .daraga {
      order: 1;
    }
  }

  img.border-container {
    border-radius: 1em;
    object-fit: cover;
    max-width: 30%;
    padding: 0;
    margin: 0;

  }

  .container-content {

    img {
      margin-right: 5px;
    }
  }

  i, span {
    font-weight: bold;
    color:#239E86;
  }

  @media screen and (max-width: 800px) {
    div.border-container {
      flex-direction: column;
      .daraga {
        order: 0; 
      }
    }

    img.border-container {
      max-width: 100%;
      margin-bottom: 30px;
    }

  }

}


/* !!!!! CONTACT US PAGE !!!!! */

.contact-us.page {

  h2 {
    text-align: center;
    color: #239E86;
  }

  section.collapsable {
    border-top: #acacac solid 2px;
    border-bottom: #acacac solid 2px;
    margin: 10px 0 0 0;
  }

  h4.collapsable {

    display: flex;
    justify-content: space-between;
    padding: 10px 5px 5px 5px;
    

    i {
      display: block;
      color: #854442;
      transition: all 0.3s ease-in-out;
    }

    i:not(.collapsed) {
      transform: rotate(180deg);
    }
  
    i:is(.collapsed) {
      transform: rotate(0deg);
    }

  }

  .card {
    border: none !important;
  }

  
  
}

/* !!!! WHO ARE WE PAGE !!!! */

.who-are-we.page {

  p.border-container  {
    text-align: justify;
  }

}